<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
      class="rounded-circle border"
      alt="{{ include.username }}"
      src="https://github.com/{{ include.username }}.png?size=160"
      width="160"
      height="160"
    >
    <div class="mt-2">@{{ include.username }}</div>
  </a>
</div>
